<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (utilisateur(); as utilisateurRef) {
      <div>
        <h2 data-cy="utilisateurDetailsHeading"><span jhiTranslate="yeggApp.utilisateur.detail.title">Utilisateur</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ utilisateurRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.prenom">Prenom</span></dt>
          <dd>
            <span>{{ utilisateurRef.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.nom">Nom</span></dt>
          <dd>
            <span>{{ utilisateurRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.email">Email</span></dt>
          <dd>
            <span>{{ utilisateurRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.telephone">Telephone</span></dt>
          <dd>
            <span>{{ utilisateurRef.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.motDePasse">Mot De Passe</span></dt>
          <dd>
            <span>{{ utilisateurRef.motDePasse }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.role">Role</span></dt>
          <dd>
            <span [jhiTranslate]="'yeggApp.UserRole.' + (utilisateurRef.role ?? 'null')">{{
              { null: '', PASSENGER: 'PASSENGER', TOURIST: 'TOURIST', DRIVER: 'DRIVER', OPERATOR: 'OPERATOR', ADMIN: 'ADMIN' }[
                utilisateurRef.role ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.matricule">Matricule</span></dt>
          <dd>
            <span>{{ utilisateurRef.matricule }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.fcmToken">Fcm Token</span></dt>
          <dd>
            <span>{{ utilisateurRef.fcmToken }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.notificationsPush">Notifications Push</span></dt>
          <dd>
            <span>{{ utilisateurRef.notificationsPush }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.notificationsSms">Notifications Sms</span></dt>
          <dd>
            <span>{{ utilisateurRef.notificationsSms }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.langue">Langue</span></dt>
          <dd>
            <span>{{ utilisateurRef.langue }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.photo">Photo</span></dt>
          <dd>
            <span>{{ utilisateurRef.photo }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.dateCreation">Date Creation</span></dt>
          <dd>
            <span>{{ utilisateurRef.dateCreation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.derniereConnexion">Derniere Connexion</span></dt>
          <dd>
            <span>{{ utilisateurRef.derniereConnexion | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.actif">Actif</span></dt>
          <dd>
            <span>{{ utilisateurRef.actif }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.dateEmbauche">Date Embauche</span></dt>
          <dd>
            <span>{{ utilisateurRef.dateEmbauche | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.utilisateur.numeroPermis">Numero Permis</span></dt>
          <dd>
            <span>{{ utilisateurRef.numeroPermis }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/utilisateur', utilisateurRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
