<div>
  <h2 id="page-heading" data-cy="FavoriHeading">
    <span jhiTranslate="yeggApp.favori.home.title">Favoris</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="yeggApp.favori.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-favori"
        [routerLink]="['/favori/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yeggApp.favori.home.createLabel">Créer un nouveau Favori</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (favoris().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="yeggApp.favori.home.notFound">Aucun Favori trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cibleId">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.cibleId">Cible Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomPersonnalise">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.nomPersonnalise">Nom Personnalise</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordre">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.ordre">Ordre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="alerteActive">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.alerteActive">Alerte Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="alerteSeuil">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.alerteSeuil">Alerte Seuil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="utilisateur.id">
              <div class="d-flex">
                <span jhiTranslate="yeggApp.favori.utilisateur">Utilisateur</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (favori of favoris(); track trackId(favori)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/favori', favori.id, 'view']">{{ favori.id }}</a>
              </td>
              <td>{{ favori.type }}</td>
              <td>{{ favori.cibleId }}</td>
              <td>{{ favori.nomPersonnalise }}</td>
              <td>{{ favori.ordre }}</td>
              <td>{{ favori.alerteActive }}</td>
              <td>{{ favori.alerteSeuil }}</td>
              <td>
                @if (favori.utilisateur) {
                  <div>
                    <a [routerLink]="['/utilisateur', favori.utilisateur.id, 'view']">{{ favori.utilisateur.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/favori', favori.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/favori', favori.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(favori)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (favoris().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
