<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-notification-heading"
        data-cy="NotificationCreateUpdateHeading"
        jhiTranslate="yeggApp.notification.home.createOrEditLabel"
      >
        Créer ou éditer un Notification
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yeggApp.notification.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="yeggApp.notification.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        @let titreRef = editForm.get('titre')!;
        <div class="mb-3">
          <label class="form-label" for="field_titre" jhiTranslate="yeggApp.notification.titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
          @if (titreRef.invalid && (titreRef.dirty || titreRef.touched)) {
            <div>
              @if (editForm.get('titre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let messageRef = editForm.get('message')!;
        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="yeggApp.notification.message">Message</label>
          <textarea class="form-control" name="message" id="field_message" data-cy="message" formControlName="message"></textarea>
          @if (messageRef.invalid && (messageRef.dirty || messageRef.touched)) {
            <div>
              @if (editForm.get('message')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_donnees" jhiTranslate="yeggApp.notification.donnees">Donnees</label>
          <textarea class="form-control" name="donnees" id="field_donnees" data-cy="donnees" formControlName="donnees"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priorite" jhiTranslate="yeggApp.notification.priorite">Priorite</label>
          <input type="text" class="form-control" name="priorite" id="field_priorite" data-cy="priorite" formControlName="priorite" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="yeggApp.notification.statut">Statut</label>
          <input type="text" class="form-control" name="statut" id="field_statut" data-cy="statut" formControlName="statut" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lu" jhiTranslate="yeggApp.notification.lu">Lu</label>
          <input type="checkbox" class="form-check" name="lu" id="field_lu" data-cy="lu" formControlName="lu" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateLecture" jhiTranslate="yeggApp.notification.dateLecture">Date Lecture</label>
          <div class="d-flex">
            <input
              id="field_dateLecture"
              data-cy="dateLecture"
              type="datetime-local"
              class="form-control"
              name="dateLecture"
              formControlName="dateLecture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_utilisateur" jhiTranslate="yeggApp.notification.utilisateur">Utilisateur</label>
          <select
            class="form-control"
            id="field_utilisateur"
            data-cy="utilisateur"
            name="utilisateur"
            formControlName="utilisateur"
            [compareWith]="compareUtilisateur"
          >
            <option [ngValue]="null"></option>
            @for (utilisateurOption of utilisateursSharedCollection; track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
