<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (operateur(); as operateurRef) {
      <div>
        <h2 data-cy="operateurDetailsHeading"><span jhiTranslate="yeggApp.operateur.detail.title">Operateur</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ operateurRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.nom">Nom</span></dt>
          <dd>
            <span>{{ operateurRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.email">Email</span></dt>
          <dd>
            <span>{{ operateurRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.telephone">Telephone</span></dt>
          <dd>
            <span>{{ operateurRef.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.adresse">Adresse</span></dt>
          <dd>
            <span>{{ operateurRef.adresse }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.logo">Logo</span></dt>
          <dd>
            <span>{{ operateurRef.logo }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.siteWeb">Site Web</span></dt>
          <dd>
            <span>{{ operateurRef.siteWeb }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.siret">Siret</span></dt>
          <dd>
            <span>{{ operateurRef.siret }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.dateCreation">Date Creation</span></dt>
          <dd>
            <span>{{ operateurRef.dateCreation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.operateur.actif">Actif</span></dt>
          <dd>
            <span>{{ operateurRef.actif }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/operateur', operateurRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
