<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-feedback-heading" data-cy="FeedbackCreateUpdateHeading" jhiTranslate="yeggApp.feedback.home.createOrEditLabel">
        Créer ou éditer un Feedback
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yeggApp.feedback.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let noteRef = editForm.get('note')!;
        <div class="mb-3">
          <label class="form-label" for="field_note" jhiTranslate="yeggApp.feedback.note">Note</label>
          <input type="number" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
          @if (noteRef.invalid && (noteRef.dirty || noteRef.touched)) {
            <div>
              @if (editForm.get('note')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('note')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Ce champ doit être supérieur à 1.</small
                >
              }
              @if (editForm.get('note')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '5' }"
                  >Ce champ doit être inférieur à 5.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('note')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commentaire" jhiTranslate="yeggApp.feedback.commentaire">Commentaire</label>
          <textarea
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          ></textarea>
        </div>

        @let typeObjetRef = editForm.get('typeObjet')!;
        <div class="mb-3">
          <label class="form-label" for="field_typeObjet" jhiTranslate="yeggApp.feedback.typeObjet">Type Objet</label>
          <input type="text" class="form-control" name="typeObjet" id="field_typeObjet" data-cy="typeObjet" formControlName="typeObjet" />
          @if (typeObjetRef.invalid && (typeObjetRef.dirty || typeObjetRef.touched)) {
            <div>
              @if (editForm.get('typeObjet')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let objetIdRef = editForm.get('objetId')!;
        <div class="mb-3">
          <label class="form-label" for="field_objetId" jhiTranslate="yeggApp.feedback.objetId">Objet Id</label>
          <input type="number" class="form-control" name="objetId" id="field_objetId" data-cy="objetId" formControlName="objetId" />
          @if (objetIdRef.invalid && (objetIdRef.dirty || objetIdRef.touched)) {
            <div>
              @if (editForm.get('objetId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('objetId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let dateCreationRef = editForm.get('dateCreation')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateCreation" jhiTranslate="yeggApp.feedback.dateCreation">Date Creation</label>
          <div class="d-flex">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="datetime-local"
              class="form-control"
              name="dateCreation"
              formControlName="dateCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateCreationRef.invalid && (dateCreationRef.dirty || dateCreationRef.touched)) {
            <div>
              @if (editForm.get('dateCreation')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateCreation')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anonyme" jhiTranslate="yeggApp.feedback.anonyme">Anonyme</label>
          <input type="checkbox" class="form-check" name="anonyme" id="field_anonyme" data-cy="anonyme" formControlName="anonyme" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_utilisateur" jhiTranslate="yeggApp.feedback.utilisateur">Utilisateur</label>
          <select
            class="form-control"
            id="field_utilisateur"
            data-cy="utilisateur"
            name="utilisateur"
            formControlName="utilisateur"
            [compareWith]="compareUtilisateur"
          >
            <option [ngValue]="null"></option>
            @for (utilisateurOption of utilisateursSharedCollection; track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
