<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notification(); as notificationRef) {
      <div>
        <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="yeggApp.notification.detail.title">Notification</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ notificationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'yeggApp.NotificationType.' + (notificationRef.type ?? 'null')">{{
              {
                null: '',
                BUS_APPROACHING: 'BUS_APPROACHING',
                DELAY: 'DELAY',
                INCIDENT: 'INCIDENT',
                BREAKDOWN: 'BREAKDOWN',
                INFORMATION: 'INFORMATION',
              }[notificationRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.titre">Titre</span></dt>
          <dd>
            <span>{{ notificationRef.titre }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.message">Message</span></dt>
          <dd>
            <span>{{ notificationRef.message }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.donnees">Donnees</span></dt>
          <dd>
            <span>{{ notificationRef.donnees }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.priorite">Priorite</span></dt>
          <dd>
            <span [jhiTranslate]="'yeggApp.Priority.' + (notificationRef.priorite ?? 'null')">{{
              { null: '', HIGH: 'HIGH', MEDIUM: 'MEDIUM', LOW: 'LOW' }[notificationRef.priorite ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.statut">Statut</span></dt>
          <dd>
            <span [jhiTranslate]="'yeggApp.NotificationStatus.' + (notificationRef.statut ?? 'null')">{{
              { null: '', SENT: 'SENT', FAILED: 'FAILED', PENDING: 'PENDING' }[notificationRef.statut ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.dateCreation">Date Creation</span></dt>
          <dd>
            <span>{{ notificationRef.dateCreation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.dateEnvoi">Date Envoi</span></dt>
          <dd>
            <span>{{ notificationRef.dateEnvoi | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.lu">Lu</span></dt>
          <dd>
            <span>{{ notificationRef.lu }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.dateLecture">Date Lecture</span></dt>
          <dd>
            <span>{{ notificationRef.dateLecture | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="yeggApp.notification.utilisateur">Utilisateur</span></dt>
          <dd>
            @if (notification()!.utilisateur) {
              <div>
                <a [routerLink]="['/utilisateur', notification()!.utilisateur?.id, 'view']">{{ notificationRef.utilisateur?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/notification', notificationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
