<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ligne-arret-heading" data-cy="LigneArretCreateUpdateHeading" jhiTranslate="yeggApp.ligneArret.home.createOrEditLabel">
        Créer ou éditer un Ligne Arret
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yeggApp.ligneArret.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let ordreRef = editForm.get('ordre')!;
        <div class="mb-3">
          <label class="form-label" for="field_ordre" jhiTranslate="yeggApp.ligneArret.ordre">Ordre</label>
          <input type="number" class="form-control" name="ordre" id="field_ordre" data-cy="ordre" formControlName="ordre" />
          @if (ordreRef.invalid && (ordreRef.dirty || ordreRef.touched)) {
            <div>
              @if (editForm.get('ordre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('ordre')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tempsTrajetDepart" jhiTranslate="yeggApp.ligneArret.tempsTrajetDepart"
            >Temps Trajet Depart</label
          >
          <input
            type="number"
            class="form-control"
            name="tempsTrajetDepart"
            id="field_tempsTrajetDepart"
            data-cy="tempsTrajetDepart"
            formControlName="tempsTrajetDepart"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_distanceDepart" jhiTranslate="yeggApp.ligneArret.distanceDepart">Distance Depart</label>
          <input
            type="number"
            class="form-control"
            name="distanceDepart"
            id="field_distanceDepart"
            data-cy="distanceDepart"
            formControlName="distanceDepart"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ligne" jhiTranslate="yeggApp.ligneArret.ligne">Ligne</label>
          <select class="form-control" id="field_ligne" data-cy="ligne" name="ligne" formControlName="ligne" [compareWith]="compareLigne">
            <option [ngValue]="null"></option>
            @for (ligneOption of lignesSharedCollection; track $index) {
              <option [ngValue]="ligneOption">{{ ligneOption.numero }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_arret" jhiTranslate="yeggApp.ligneArret.arret">Arret</label>
          <select class="form-control" id="field_arret" data-cy="arret" name="arret" formControlName="arret" [compareWith]="compareArret">
            <option [ngValue]="null"></option>
            @for (arretOption of arretsSharedCollection; track $index) {
              <option [ngValue]="arretOption">{{ arretOption.code }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
