<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-favori-heading" data-cy="FavoriCreateUpdateHeading" jhiTranslate="yeggApp.favori.home.createOrEditLabel">
        Créer ou éditer un Favori
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yeggApp.favori.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="yeggApp.favori.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let cibleIdRef = editForm.get('cibleId')!;
        <div class="mb-3">
          <label class="form-label" for="field_cibleId" jhiTranslate="yeggApp.favori.cibleId">Cible Id</label>
          <input type="number" class="form-control" name="cibleId" id="field_cibleId" data-cy="cibleId" formControlName="cibleId" />
          @if (cibleIdRef.invalid && (cibleIdRef.dirty || cibleIdRef.touched)) {
            <div>
              @if (editForm.get('cibleId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cibleId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomPersonnalise" jhiTranslate="yeggApp.favori.nomPersonnalise">Nom Personnalise</label>
          <input
            type="text"
            class="form-control"
            name="nomPersonnalise"
            id="field_nomPersonnalise"
            data-cy="nomPersonnalise"
            formControlName="nomPersonnalise"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ordre" jhiTranslate="yeggApp.favori.ordre">Ordre</label>
          <input type="number" class="form-control" name="ordre" id="field_ordre" data-cy="ordre" formControlName="ordre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_alerteActive" jhiTranslate="yeggApp.favori.alerteActive">Alerte Active</label>
          <input
            type="checkbox"
            class="form-check"
            name="alerteActive"
            id="field_alerteActive"
            data-cy="alerteActive"
            formControlName="alerteActive"
          />
        </div>

        @let alerteSeuilRef = editForm.get('alerteSeuil')!;
        <div class="mb-3">
          <label class="form-label" for="field_alerteSeuil" jhiTranslate="yeggApp.favori.alerteSeuil">Alerte Seuil</label>
          <input
            type="number"
            class="form-control"
            name="alerteSeuil"
            id="field_alerteSeuil"
            data-cy="alerteSeuil"
            formControlName="alerteSeuil"
          />
          @if (alerteSeuilRef.invalid && (alerteSeuilRef.dirty || alerteSeuilRef.touched)) {
            <div>
              @if (editForm.get('alerteSeuil')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Ce champ doit être supérieur à 1.</small
                >
              }
              @if (editForm.get('alerteSeuil')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '60' }"
                  >Ce champ doit être inférieur à 60.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('alerteSeuil')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_utilisateur" jhiTranslate="yeggApp.favori.utilisateur">Utilisateur</label>
          <select
            class="form-control"
            id="field_utilisateur"
            data-cy="utilisateur"
            name="utilisateur"
            formControlName="utilisateur"
            [compareWith]="compareUtilisateur"
          >
            <option [ngValue]="null"></option>
            @for (utilisateurOption of utilisateursSharedCollection; track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
