<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tracking-heading" data-cy="TrackingCreateUpdateHeading" jhiTranslate="yeggApp.tracking.home.createOrEditLabel">
        Créer ou éditer un Tracking
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="yeggApp.tracking.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let latitudeRef = editForm.get('latitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="yeggApp.tracking.latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
          @if (latitudeRef.invalid && (latitudeRef.dirty || latitudeRef.touched)) {
            <div>
              @if (editForm.get('latitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('latitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let longitudeRef = editForm.get('longitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="yeggApp.tracking.longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
          @if (longitudeRef.invalid && (longitudeRef.dirty || longitudeRef.touched)) {
            <div>
              @if (editForm.get('longitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('longitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vitesse" jhiTranslate="yeggApp.tracking.vitesse">Vitesse</label>
          <input type="number" class="form-control" name="vitesse" id="field_vitesse" data-cy="vitesse" formControlName="vitesse" />
        </div>

        @let capRef = editForm.get('cap')!;
        <div class="mb-3">
          <label class="form-label" for="field_cap" jhiTranslate="yeggApp.tracking.cap">Cap</label>
          <input type="number" class="form-control" name="cap" id="field_cap" data-cy="cap" formControlName="cap" />
          @if (capRef.invalid && (capRef.dirty || capRef.touched)) {
            <div>
              @if (editForm.get('cap')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              @if (editForm.get('cap')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '359' }"
                  >Ce champ doit être inférieur à 359.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('cap')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_precision" jhiTranslate="yeggApp.tracking.precision">Precision</label>
          <input type="number" class="form-control" name="precision" id="field_precision" data-cy="precision" formControlName="precision" />
        </div>

        @let timestampRef = editForm.get('timestamp')!;
        <div class="mb-3">
          <label class="form-label" for="field_timestamp" jhiTranslate="yeggApp.tracking.timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timestampRef.invalid && (timestampRef.dirty || timestampRef.touched)) {
            <div>
              @if (editForm.get('timestamp')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('timestamp')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        @let sourceRef = editForm.get('source')!;
        <div class="mb-3">
          <label class="form-label" for="field_source" jhiTranslate="yeggApp.tracking.source">Source</label>
          <select class="form-control" name="source" formControlName="source" id="field_source" data-cy="source">
            <option [ngValue]="null">{{ 'yeggApp.TrackingSource.null' | translate }}</option>
            @for (trackingSource of trackingSourceValues; track $index) {
              <option [value]="trackingSource">{{ 'yeggApp.TrackingSource.' + trackingSource | translate }}</option>
            }
          </select>
          @if (sourceRef.invalid && (sourceRef.dirty || sourceRef.touched)) {
            <div>
              @if (editForm.get('source')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_evenement" jhiTranslate="yeggApp.tracking.evenement">Evenement</label>
          <input type="text" class="form-control" name="evenement" id="field_evenement" data-cy="evenement" formControlName="evenement" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commentaire" jhiTranslate="yeggApp.tracking.commentaire">Commentaire</label>
          <textarea
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bus" jhiTranslate="yeggApp.tracking.bus">Bus</label>
          <select class="form-control" id="field_bus" data-cy="bus" name="bus" formControlName="bus" [compareWith]="compareBus">
            <option [ngValue]="null"></option>
            @for (busOption of busesSharedCollection; track $index) {
              <option [ngValue]="busOption">{{ busOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
